#PLEASE NOTE - I did not push the docker-compose file by accident, I added this as it contains no sensitive API keys etc
#and without it you cannot run the project as it has the DB passwords

#env
.env
/data/
/data


# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# IDE settings
.vscode/
.idea/

# Database files
*.db
*.sqlite3

# Temporary files
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
nohup.out

